.tag, .active {
  background-color: #ddd;
  border-radius: 16px;
}

.tag {
  padding: 10px 20px;
  font-size: smaller;
}

time {
  padding: 10px 20px;
  font-size: smaller;
}

address {
  display: inline;
  font-size: smaller;
}

a {
  text-decoration: none;
  color: inherit;
}
